<div>
    <h2 class="md-display-1">Configurator Admin - Models</h2>
    <!--<md-button class="md-fab" aria-label="Add" style="position:absolute;right:10px;top:10px;" ng-href="#/security/users/add">-->
        <!--<md-tooltip>Add User</md-tooltip>-->
        <!--<md-icon md-font-set="material-icons" class="md-48">person_add</md-icon>-->
    <!--</md-button>-->
</div>

<div layout="column" layout-padding fill-parent>
    <table class="item-table">
        <thead table-headers headers="headers" sortable="false"></thead>
        <tbody>
        <!--             <tr>
                        <td ng-repeat="h in headers"
                            class="item-table-content">
                            {{(h.field.indexOf('date') > 0) ? $filter('date')(user[h.field]) : user[h.field];}}
                        </td>
                    </tr> -->
        <!--<tr ng-repeat="user in users | orderBy : 'position'"-->
            <!--class="item-table-content-row">-->
            <!--<td class="item-table-td-more">-->
                <!--{{user.firstName}} {{user.lastName}}-->
            <!--</td>-->
            <!--<td class="item-table-td-more">-->
                <!--{{user.username}}-->
            <!--</td>-->
            <!--<td class="item-table-td-more">-->
                <!--{{user.modifiedDate | date:'MM/dd/yyyy @ h:mma'}}-->
            <!--</td>-->
            <!--<td class="item-table-td-more">-->
                <!--<md-button class="md-fab md-mini md-primary" aria-label="Edit" ng-href="#/security/users/{{user.id}}">-->
                    <!--<md-icon md-font-set="material-icons">mode_edit</md-icon>-->
                <!--</md-button>-->

                <!--<md-button class="md-fab md-mini md-primary" aria-label="Delete" ng-click="deleteUser(user)">-->
                    <!--<md-icon md-font-set="material-icons">delete</md-icon>-->
                <!--</md-button>-->
            <!--</td>-->
        <!--</tr>-->
        </tbody>
    </table>

</div>