<!DOCTYPE html>
<html lang="en" ng-app="MINIAdminApp" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" th:href="@{/jquery-p-common/css/bootstrap.min.css}" href="../static/jquery-p-common/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/jquery-p-common/css/toastr.min.css}" href="../static/jquery-p-common/css/toastr.min.css">

    <meta charset="UTF-8">
    <title>My Password</title>
</head>
<body>


<div class="col-lg-9">
    <div id="pass-table">
        <table
                data-cache="false"
                data-search="true"
                data-show-columns="true"
                data-sort-name="time"
                data-sort-order="asc"
                data-toggle="table"
                data-url="/password"
                id="passwords">
            <thead>
            <tr>
                <th data-field="siteUrl">Web Site</th>
                <th data-field="email">Email</th>
                <th data-field="login">Login</th>
                <th data-field="myPassword">Password</th>
                <th data-field="otherInfo">Description</th>
                <th data-field="id">ID</th>
                <th data-field="changeTime">Chage Time</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<div class="col-lg-3">
    <form role="form">
        <div class="form-group">
            <input type="hidden" class="form-control" id="id">

            <label for="siteUrl">Web Site:</label>
            <input type="text" class="form-control" id="siteUrl">

            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email">

            <label for="login">Login:</label>
            <input type="text" class="form-control" id="login">

            <label for="mypassword">Password:</label>
            <input type="text" class="form-control" id="mypassword">

            <label for="otherInfo">Description:</label>
            <textarea class="form-control" rows="10" id="otherInfo" name="message"></textarea>
        </div>
        <button type="button" class="btn btn-primary" id="clear">Clear</button>
        <button type="button" class="btn btn-primary" id="create">Create</button>
        <button type="button" class="btn btn-primary" id="save">Save</button>
        <button type="button" class="btn btn-primary delete" id="delete">Delete</button>
        <br><br>
        <button type="button" class="btn btn-primary delete" id="randomPass">Generate new Random Password</button>

    </form>
</div>
<script th:src="@{/jquery-p-common/js/jquery-2.1.4.js}" src="../static/jquery-p-common/js/jquery-2.1.4.js"></script>
<script th:src="@{/jquery-p-common/js/bootstrap.js}" src="../static/jquery-p-common/js/bootstrap.js"></script>
<script th:src="@{/jquery-p-common/js/bootstrap-table.js}" src="../static/jquery-p-common/js/bootstrap-table.js"></script>
<script th:src="@{/jquery-p-common/js/bootstrap-table-ru-RU.js}" src="../static/jquery-p-common/js/bootstrap-table-ru-RU.js"></script>
<script th:src="@{/jquery-p-common/js/jquery.slimscroll.min.js}" src="../static/jquery-p-common/js/jquery.slimscroll.min.js"></script>
<script th:src="@{/jquery-p-common/js/toastr.min.js}" src="../static/jquery-p-common/js/toastr.min.js"></script>
<script th:src="@{/jquery-p-common/js/jquery.confirm.js}" src="../static/jquery-p-common/js/jquery.confirm.js"></script>
<script th:src="@{/_js/pass.js}" src="../static/_js/pass.js"></script>

</body>
</html>
